functions/etc/
functions/lib/
functions/node_modules/
functions/package.json
functions/tsconfig.json
functions/tslint.json
elm-stuff/
.git/
elm-package.json
.firebaserc
.firebase.json
config.js
main.js
/elm-stuff/*
